.label {
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/_Project/Content/Font/Rajdhani/Rajdhani-Bold.ttf?fileID=12800000&guid=2219332e3a68fb2488fc8e2af3cf2aa4&type=3#Rajdhani-Bold");
    font-size: 50px;
    -unity-text-align: middle-center;
    -unity-text-outline-width: 4px;
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-font-style: bold;
}
